.bg-purple {
    background-color: #D1AED1;
}

.bg-green {
    background-color: #C4E6A7;
}

.bg-black {
    background-color: #737473;
}

.bg-blue {
    background-color: #a6d3ff;
}

.bg-brown {
    background-color: #C8A59A;
}

.bg-gray {
    background-color: #E0E0E6;
}

.bg-pink {
    background-color: #FBDEFB;
}

.bg-red {
    background-color: #FAAC94;
}

.bg-white {
    background-color: #F0F9FE;
}


.bg-yellow {
    background-color: #FEE299;
}