* {
    font-family: 'Ubuntu', sans-serif;
    font-size: 24px;
    color: #3C5377;
}

body {
    margin: 0;
}

.main-div {
    height: 100vh;
}

.navi-header {
    position: fixed;
    top: 0;
    z-index: 1300;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 10vh;
    left: 10%;
    background-color: rgba(213, 48, 50, 0.9);
    border: 3px solid #3C5377;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.header-button {
    padding: 10px;
    border: 3px solid #3C5377;
    border-radius: 100%;
}

.header-button:hover {
    cursor: pointer;
    border: 3px solid #FECA1B;
}

#pokedex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#pokemon {
    display: flex;
    color: white;
}

.pokemon-overview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 30%;
    min-width: 10%;
    height: auto;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    -webkit-box-shadow: unset;
    box-shadow: unset;
    transition: all 100ms ease-in-out;
}

.pokemon-overview:hover {
    -webkit-box-shadow: inset 0px 0px 12px 4px #FFFFFF;
    box-shadow: inset 0px 0px 12px 4px #FFFFFF;
    cursor: pointer;
    transition: all 225ms ease-in-out;
}

.img-pokemon-overview {
    max-width: 50%;
    height: auto;
}

.two-pokemongroups {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.id-of-pokemon {
    margin-top: 10px !important;
    margin: 0;
    font-size: 0.9em;
}

.pokemon-overview-head {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
}

.name-of-pokemon {
    margin-top: 10px;
    margin-bottom: 0;
    font-size: 1.2em;
}

.group-of-pokemon {
    font-size: 0.9em;
    border: 3px solid #4D4D4D;
    padding: 5px 10px 5px 10px;
    border-radius: 20px;
}

.main-content-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 50px;
    background-image: url('../img/pokeball-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.button-img {
    max-width: 12%;
    padding-bottom: 15px;
}

.generation-button {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 35%;
    margin-bottom: 15px;
    font-size: 1.2em;
    background-color: #FFFFFF;
    border: 3px solid #3C5377;
    border-radius: 50px;
}

.generation-button:hover {
    cursor: pointer;
    border: 3px solid #FECA1B;
    background-color: #d53032;
}

.dp-none {
    display: none !important;
}

.margin-top {
    margin-top: 126px;
}

.margin-top-pokedex {
    margin-top: 200px;
}

#load {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #FFFFFF;
    z-index: 999;
}

.loading-content {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-input {
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.search-input input {
    border: 3px solid #FECA1B;
    border-radius: 50px;
    outline: none;
}

.search-input input:focus {
    border: 3px solid #d53032;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 8%;
    margin-left: 20px;
    font-size: 1.2em;
    background-color: #FFFFFF;
    border: 3px solid #3C5377;
    border-radius: 50px;
}

.search-button:hover {
    cursor: pointer;
    border: 3px solid #FECA1B;
    background-color: #d53032;
}

.margin-search {
    margin-top: 180px;
}

#pokemon_detail {
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #FFFFFF;
}

.pokemon-stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
    min-width: 10%;
    background-image: url('../img/pokeball-background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 10px 10px 10px 10px;
    border: 3px solid #3C5377;
    border-radius: 20px;
    margin-top: 0px;
}

.pokemon-stats p {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 80%;
    text-align: center;
    border: 3px solid #3C5377;
    border-radius: 15px;
}